# Java/Maven
target/
*.class
*.jar
*.war
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
*.log

# Node/Angular
node_modules/
dist/
tmp/
out-tsc/
bazel-out/

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db
