<div class="container-fluid mb-4">
    <div class="card shadow-sm border-0 p-4" style="background-color: var(--ntg-bg-light); border-radius: var(--ntg-border-radius);">
        <h5 class="mb-4 fw-bold" style="color: var(--ntg-secondary);">Financial Chart Data</h5>

        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [stroke]="chartOptions.stroke"
            [fill]="chartOptions.fill" [xaxis]="chartOptions.xaxis" [tooltip]="chartOptions.tooltip"
            [dataLabels]="chartOptions.dataLabels">
        </apx-chart>
    </div>
</div>