/* الألوان الأساسية */
.text-danger-custom {
    color: #bd2130 !important;
}

/* تنسيق الروابط الأساسية */
.custom-nav-link {
    color: #5a6268 !important;
    position: relative;
    /* مهم جداً لتثبيت الخط أسفل اللينك */
    padding-bottom: 6px !important;
    /* مسافة بين النص والخط السفلي */
    transition: color 0.3s ease;
}

/* تجهيز الخط السفلي المخفي افتراضياً */
.custom-nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    /* سمك الخط الأحمر */
    bottom: 0;
    left: 0;
    background-color: #bd2130;
    /* لون الخط الأحمر مطابق للشعار */
    transform: scaleX(0);
    /* إخفاء الخط بجعله مضغوطاً أفقياً */
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
    /* حركة الأنميشن السلسة */
}

/* التأثير عند تمرير الماوس (Hover) */
.custom-nav-link:hover {
    color: #bd2130 !important;
}

.custom-nav-link:hover::after {
    transform: scaleX(1);
    /* تمديد الخط ليظهر بالكامل */
    transform-origin: bottom left;
}


/* التأثير عندما يكون الرابط نشطاً (Active) في أنجلور */
.custom-nav-link.active {
    color: #bd2130 !important;
    font-weight: 700;
}

/* جعل الخط ثابتاً وممتداً للرابط الحالي النشط */
.custom-nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text-danger-custom {
    color: #bd2130 !important;
}

.custom-nav-link {
    color: #5a6268 !important
}