<div class="container-fluid p-2">
    <div class="p-3 rounded-3" id="d" style="background:rgb(255, 253, 253); border:2px solid #a7a7a782;">
        <app-g-nav></app-g-nav>
        <main class="py-4">
            <app-dash-funds></app-dash-funds>

            <div class="container-fluid my-4">
                <hr class="text-muted opacity-25">
            </div>

            <app-dash-collection></app-dash-collection>

            <div class="container-fluid my-4">
                <hr class="text-muted opacity-25">
            </div>

            <app-dash-chart></app-dash-chart>
        </main>
        <app-g-footer></app-g-footer>
    </div>
</div>