/* body {

    margin: 0;
    background: radial-gradient(circle at top, #2e0f0f, #05070d 70%);
    color: #eaeaff;
    font-family: "Segoe UI";
    overflow-x: hidden;

}

body::before {
    content: "";
    position: fixed;
    top: -200px;
    left: -200px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(226, 43, 43, 0.25), transparent 60%);
    filter: blur(80px);
    z-index: 0;
} */

#d{
    box-shadow: 0px 0px 15px 1px rgba(226, 43, 43, 0.237);
    filter: drop-shadow(0 0 18px rgba(226, 43, 43, 0.638)),blur(20px);
    border: 2px solid rgba(226, 43, 43, 0.386);
}