.ntg-card {
    border-radius: 0 0 15px 15px !important;
    border-top: #D62828 5px solid !important;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 150px;
}

.ntg-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15) !important;
}

.ntg-card-subtitle {
    text-decoration: underline var(--ntg-text-muted);
    color: var(--ntg-text-muted);
    font-size: 14px;
    letter-spacing: 0.5px;
}

.ntg-card-value {
    color: var(--ntg-text-dark);
    font-size: 32px;
}